@charset "EUC-KR";

.essential {
   color: #e6a756;
}

.control-label {
   font-size: 0.9em;
   display: inline-block;
   text-align: left;
}

.btn-md {
   font-size: 0.9em;
   background-color: rgba(47,23,15,.9);
   color: #fff;
}

.form-control {
   width: 80%;
   float: left;
}

#zipcode {
   width: 40%;
   margin-right: 20px;
}

#btn_DaumPostcode {
   float: left;
}

@media screen and (max-width: 991px) {
   .form-control {
      width: 100%;
   }
   
   .btn-md {
      margin: 10px 0;
      width: 100%;
   }
   
   #zipcode {
      width: 100%;
   }
}

@media screen and (max-width: 576px) {
   
}
